
.vs/ProyectoFinal/FileContentIndex/badd47c8-7fc8-4134-8100-5f57d584fb52.vsidx
.vs/ProyectoFinal/FileContentIndex/read.lock
.vs/ProyectoFinal/v17/.suo
.vs/ProyectoFinal/v17/Browse.VC.db
.vs/ProyectoFinal/v17/Browse.VC.db-shm
.vs/ProyectoFinal/v17/Browse.VC.db-wal
.vs/ProyectoFinal/v17/Browse.VC.opendb
.vs/ProyectoFinal/v17/ipch/AutoPCH/2374b0ce1b907275/MAINPRUEBA.ipch
Debug/ProyectoFinal.exe
Debug/ProyectoFinal.pdb
.vs/ProyectoFinal/v17/ipch/AutoPCH/1865dba50b096875/MAINPRUEBA.ipch
.vs/ProyectoFinal/FileContentIndex/6c35141b-1048-464a-b641-5462d4489ad6.vsidx
.vs